<header>
  <div class="container">
    <!-- {{}} is interpolation, allows you to access a property defined in component logic -->
    <!-- <a routerLink="/" class="logo">{{ appTitle }}</a> -->
    <h2>WeatherApp</h2>

    <nav>
      <div class="navigation">
        <ul class="navigation">
          <div class="navItem">
            <li><a routerLink="/">Home</a></li>
          </div>
          <div class="navItem">
            <li><a routerLink="/current">Current Weather</a></li>
          </div>
          <div class="navItem">
            <li><a routerLink="/forecast">View Forecast</a></li>
          </div>
        </ul>
      </div>
    </nav>
  </div>
</header>
