<!-- <p>
  Forecast feature under construction...
</p> -->

<h1>Enter a location to see the upcoming forecast</h1>

<form class="myform" [formGroup]="locationForm" (ngSubmit)="onSubmit()">
  <!-- <h5 *ngIf="success">Your form is valid!</h5> -->

  <label>
    Location:
    <input type="text" formControlName="location" />

    <!-- will only show if submitted and errors exist -->
    <div
      *ngIf="submitted && locationForm.controls.location.errors"
      class="error"
    >
      <div
        class="submitError"
        *ngIf="locationForm.controls.location.errors.required"
      ></div>
      Please enter a location to search
    </div>
  </label>

  <input type="submit" value="Search" class="cta" />
</form>

<div class="response">
  <div class="myitem">
    <div *ngIf="success && myResults" class="allForecastItems">
      Upcoming weather in {{ cityName }}:
      <ul class="thelist">
        <li *ngFor="let indivResult of myResults" class="forecastItem">
          <div class="textDetails">
            <!-- {{ cityName }} -->
            {{ indivResult.dt_txt }}
            <br />
            Temperature: {{ indivResult.main.temp }}
            <br />
            Conditions: {{ indivResult.weather[0].description }}
          </div>
          <div *ngIf="success && indivResult.rain" class="myitem">
            <img
              src="https://cdn2.iconfinder.com/data/icons/weather-and-forecast-free/32/Weather_Weather_Forecast_Cloud_Snowing_Cloud_Climate-256.png"
            />
          </div>
          <div *ngIf="success && indivResult.clear" class="myitem">
            <img
              src="https://cdn2.iconfinder.com/data/icons/weather-and-forecast-free/32/Weather_Weather_Forecast_Hot_Sun_Day-256.png"
            />
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
