<h1>Enter a location to see current weather</h1>

<form class="myform" [formGroup]="locationForm" (ngSubmit)="onSubmit()">
  <!-- <h5 *ngIf="success">Your form is valid!</h5> -->

  <label>
    Location:
    <input type="text" formControlName="location" />

    <!-- will only show if submitted and errors exist -->
    <div
      *ngIf="submitted && locationForm.controls.location.errors"
      class="error"
    >
      <div
        class="submitError"
        *ngIf="locationForm.controls.location.errors.required"
      ></div>
      Please enter a location to search
    </div>
  </label>

  <input type="submit" value="Search" class="cta" />
</form>

<!-- <div *ngIf="submitted" class="results">
  <strong>Searched Location:</strong>
  <span>{{ locationForm.controls.location.value }}</span>
  <span>{{ cityName }}</span>
</div> -->

<div class="response">
  <div class="myitem">
    <div *ngIf="success">
      Current weather in {{ cityName }}:
      <br />
      <!-- {{ result.weather[0].main }} -->
      Temperature: {{ this.tempF }} degrees
      <br />
      Condition: {{ this.condition }}
      <br />
    </div>
    <div *ngIf="success && rain" class="myitem">
      <img
        src="https://cdn2.iconfinder.com/data/icons/weather-and-forecast-free/32/Weather_Weather_Forecast_Cloud_Snowing_Cloud_Climate-256.png"
      />
    </div>
    <div *ngIf="success && clear" class="myitem">
      <img
        src="https://cdn2.iconfinder.com/data/icons/weather-and-forecast-free/32/Weather_Weather_Forecast_Hot_Sun_Day-256.png"
      />
    </div>
  </div>
</div>
